<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964866448529-0r10lbs2jh7g0b3bce80j48v0ohaivbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964866448529-0r10lbs2jh7g0b3bce80j48v0ohaivbv</string>
	<key>API_KEY</key>
	<string>AIzaSyAChyeBeS-UK9m8yhB5hKRyK8eMLn0Xbo8</string>
	<key>GCM_SENDER_ID</key>
	<string>964866448529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myanimeapp</string>
	<key>PROJECT_ID</key>
	<string>myanimeapp-a4874</string>
	<key>STORAGE_BUCKET</key>
	<string>myanimeapp-a4874.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964866448529:ios:635e2e144ace8970797330</string>
</dict>
</plist>